/* ---------------------------------- */
.teaser-section {
    display: flex;
    flex-direction: column;
  }
  .credit-container {
    padding: .5rem 0;
  }
  .credit-title {
    font-family: 'Carter One', sans-serif;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  }
  .credit-desc {
    font-weight: 400;
    font-size: 1.5rem;
    max-width: 21rem;
  }
  .attire-img-container {
    position: relative;
    background-color: var(--primary-clr-alt);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
  }
  @media screen and (min-width: 768px) {
    .teaser-section {
        flex-direction: row;
    }
    .credit-container {
        display: grid;
        place-content: center;
    }
    .attire-img-container {
        width: 506px;
        height: 450px;
    }
    .credit-desc {
        font-size: 2rem;
        max-width: 20rem;
    }
    .credit-title {
        font-size: 2rem;
    }
  }
  .left-attire-img {
    background-image: url(/images/under_hero_teasers/hero_teaser_img_1.png);
  }
  .right-attire-img {
    background-image: url(/images/under_hero_teasers/hero_teaser_img_2.png);
  }
  /* --------------- */
  .top-art-showoff {
    display: flex;
    flex-direction: column;
  }
  .top-img {
    background-image: url(/images/top_img.png);
    background-color: var(--primary-clr-alt);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 575px;
  }
  .top-img-desc-container {
    background-color: var(--primary-clr);
    color: var(--second-clr);
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  @media screen and (min-width: 327px) {
    .top-img-desc-container {
        padding: 2rem;
    }
  }
  .top-img-title {
    font-family: 'Carter One', sans-serif;
    margin-bottom: 1rem;
    max-width: 25rem;
  }
  .top-img-desc {
    font-weight: 300;
    font-size: 1.1rem;
    line-height: 2rem;
    max-width: 33rem;
    margin-bottom: 2rem;
  }
  .top-img-author {
    font-weight: 200;
    font-size: .9rem;
  }
  .date-out {
    font-weight: 200;
    font-size: .8rem;
  }
  @media screen and (min-width: 768px) {
    .top-art-showoff {
        flex-direction: row;
    }
  }

/* --------------- */
.call-to-see-collections-container {
    background-image: url(/images/call_to_action_bg.png);
    background-color: var(--primary-clr);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .call-to-see-collections {
    padding: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
  }
  .call-txt {
    color: var(--second-clr);
    font-weight: 500;
    font-size: 1.3rem;
    max-width: 40rem;
  }
  .btn-call-collections {
    background-color: var(--primary-clr-alt);
    color: var(--second-clr);
    border: 2px solid var(--second-clr);
    font-weight: 700;
    font-size: 1.1rem;
    padding: 1rem 2rem;
    transition: 150ms background;
  }
  .btn-call-collections:hover {
    background-color: var(--primary-clr);
  }